body{
    background-color: #FFEFD5;
    color: #8B4513;
    background-image: url(//Paprika-main/Képek/paprikahatter.png);
    color: #8B4513;
    width: 1000px;
    margin: auto;
    
}
table{
    width: 300px;
    margin: auto;
    border-collapse: collapse;

}
table, tr, th{
    border: 1px solid black;
}
.header-image{
    background-image: url(/Képek/sok.png);
    background-size: auto;
    padding: 1rem;
}
.vonat{
    display: flex;
    flex-direction: row;
}
li{
    border: 1px solid lightblue;
    background-color: white;
    font-weight: bold;
}
h2, p{
    padding-left: 100px;
    
}
ul{
    width: 200px;
}
