body{
    background-color: #FFEFD5;
    color: #8B4513;
    background-image: url(//Paprika-main/Képek/paprikahatter.png);
}
table{
    width: 300px;
    border: 1px;
    margin-left: auto;
    margin-right: auto;
}