body{
    background-color: #FFEFD5;
    color: #8B4513;
    background-image: url(//Paprika/Képek/paprikahatter.png);
    width: 1000px;
    margin: auto;
    overflow: auto;
}
table{
    width: 300px;
    height: 300px;
    margin: auto;
    border-collapse: collapse;

}
table, tr, th{
    border: 1px solid black;
    margin: 0 0 0 37%;
}
.header-image{
    background-image: url(/Képek/sok.png);
    background-size: auto;
    padding: 1rem;
}
.vonat{
    display: flex;
    flex-direction: row;
}
li{
    border: 2px solid rgb(78, 202, 243);
    background-color: white;
    font-weight: bold;
}
h2, p{
    padding-left: 100px;
    
}
ul{
    width: 200px;
    

}
.paprikakmenu{
    padding-left: 17%;

}
.tabla{
    height: 200px;
}
th{
    margin-right: 5px;
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    color: #FFF;
    height: 50px;
    padding: 1em;
  }